@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, "san-serif";
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: -1px 1px 1px 1px black;
  height: 10vh;
  width: 100%;
  list-style: none;
  gap: 2rem;
}

h2 {
  margin-left: 80px;
  margin-right: 200px;
}

span {
  color: purple;
}

#login {
  background-color: purple;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

#sign-up {
  margin-left: 200px;
}

nav ul {
  margin-top: 5px;
  list-style: none;
  display: flex;
  gap: 10px;
  /* margin-left: 20px; */
}

nav ul li {
  /* list-style: none; */
  /* gap: 20px;   */
}

nav ul li a {
  list-style: none;
  color: black;
  text-decoration: none;
}
